:root {
    --background-color: #dffddf;
    --nav-color: #3aa03c;
    --nav-hover-color: #18c01d;
    --nav-element-hover-color: #00f308;
    --dropdown-text-color: #333333;
    --dropdown-text-clicked-color: #ff0000;

     --dropdown-width: 80px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color:black;
}

.navbar {
    min-height: 30px;
    background-color: var(--nav-color);
    display: flex;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    width: var(--dropdown-width);
}

.dropbtn {
    background-color: var(--nav-color);
    color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    font-size: 18px;
    border: none;
    cursor: pointer;
    text-align: left;
    padding-left: 10px;
}
.bold {
    font-weight: bold;
}

.dropbtn:hover,
.dropdown:hover .dropbtn {
    background-color: var(--nav-hover-color);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--nav-hover-color);
    min-width: 100%;
    left: 0;
}

.dropdown:hover .dropdown-content {
    background-color: var(--nav-hover-color);
}

.dropdown-content a {
    color: var(--dropdown-text-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

.dropdown-content a:hover {
    background-color: var(--nav-element-hover-color);
}

.dropdown-content a:active {
    color: var(--dropdown-text-clicked-color);
}

.dropdown:hover .dropdown-content {
    display: block;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}


/* Content panels */
.instructions,
.extraCredit {
    width: 80vw;
    margin: 18px auto;
    padding: 16px;
    background: white;
}
.instructions{
       border-left: 5px solid var(--nav-color);
}
.extraCredit{
       border-left: 5px solid #dddd03;
}
.p-space {
    margin: 15px 0;
}


/* Back Button */
.back-button-container {
    padding: 10px 20px;
    text-align: center;
}

.back-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: var(--nav-hover-color);
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 4px;
    font-weight: 600;
}

.back-button:hover {
    background-color: var(--nav-element-hover-color);
}